h1{
    text-align: center;
    margin: 60px;
    margin-bottom: 100px;
    font-size: 80px;
}
h2{
    margin-left: 50px;
}
h3{
    margin: 50px;
    margin-bottom: 80px;
}

p{
    font-size: 20px;
}
div{
    margin: 70px;
}
/*.cuadro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
    height: 460px;
    border: 1px solid red;
}*/

.costo{
    margin: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.licencias{
    margin: 100px;
    margin-bottom: 50px;
    text-align: center;
}