body{
    margin-left: 30px;
    font-family: Arial;
}

.title{
    background-color: blanchedalmond;
    width: 100%;
    height: 200px;
    padding-top: 70px;
    text-align: center;
    font-size: 30px;
    border-style: double;
}
h3{
    font-size: 50px;
}

.traits{

    width: 45%;
    padding: 15px;
    margin-top: 70px;
}
.inventory{
    width: 45%;
    padding: 15px;
    margin-top: 15px;
}
.sale{
    width: 45%;
    padding: 15px;
    margin-top: 15px;
}
.code-reader{
    width: 45%;
    padding: 15px;
    margin-top: 15px;
}

input{
    background-color: whitesmoke;
}
button{
    background-color: rgb(216, 37, 37);
    color: aliceblue;
    font-weight: bolder;
    font-size: 17px;
    margin-top: 35px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: 1s;
}
button:hover{
    background-color: rgb(194, 115, 115);
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin-top: 35px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

