/* *{
    padding: 0;
    margin: 0;
}
table{
    background-color: whitesmoke;
    border: 1px solid rgb(64,64,64.8);
    border-collapse: collapse;
    width: 35em;
    margin: auto;
    margin-top: 60px;
}
.title{
    text-align: center;
    background-color: rgb(0, 231, 0);
    padding: 15px;
}
td, tr{ */
  /*   border: 1px solid rgb(64,64,64.8);
    width: 200px; */
 /*    padding: 15px;
    width: 50px;
    text-align: left;
}
input{
    padding-right: 100px;
}
.info{
    background-color: rgb(0, 231, 0);
}
 */
body{
    background-image: url();
}

 .main-container{
    display: flex;
    justify-content: center;
 }
.second-container{
    display: block;
    justify-content: center;
    font-size: 25px;
}
.h1-container{
    border-bottom: 5px solid green;
    margin-left: 420px;
    margin-right: 420px;
}
h1{
    text-align: center;
    margin-top: 40px;
    font-family: monospace;
}
 form{
    border: 1px solid black;
    border-radius: 15px;
    width: 600px;
    padding: 30px 0 30px 30px;
    margin-top: 10px;
    background-color: rgb(129, 247, 129);
 }
 label{
    font-weight: 600;
    font-family: monospace;
 }
 input{
    border: none;
    font-size: 20px;
 }
 select{
    border: none;
    font-size: 20px;
 }
 .atras-btn{
    display: flex;
    position: relative;
    left: 20px;
    top: -120px;
    transition: 0.6s;
 }
 .atras-btn:hover{
    display: flex;
    position: relative;
    left: 20px;
    top: -120px;
    background-color: rgb(9, 160, 9);
    box-shadow: 0px 0px 10px;
 }
 button{
    display: block;
    position: relative;
    right: -220px;
    margin-top: 50px;
    background-color: rgb(16, 207, 16);
    border: none;
    padding: 10px 39px 10px 39px;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 600;
    transition: 0.6s;
    cursor: pointer;
 }
 button:hover{
    display: block;
    position: relative;
    right: -220px;
    margin-top: 50px;
    background-color: rgb(9, 160, 9);
    border: none;
    padding: 10px 39px 10px 39px;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 0px 0px 10px;
    cursor: pointer;
 }
 

 